<div class="feature__section features--layer container">
  <div class="feature feature--one">
    <img src="images/Rectangle_5.png" alt="" />

    <div class="content__text feature--content">
      <h3>Hundredes of Guides</h3>
      <p>New high-quality guides added each week</p>
    </div>
  </div>
  <div class="feature feature--two">
    <img src="images/Rectangle_4.png" alt="" />

    <div class="content__text feature--content">
      <h3>Vistied local expertes</h3>
      <p>The largest network of local guides wordwide</p>
    </div>
  </div>
  <h3 id="learn__more">Learn more!</h3>
</div>
