/* Start Variables  */
:root {
  --main-color: #bf9e7b;
  --secondary-color: #141723;
  --sec-padding: 100px;
}
/* End Variables  */

/* Start Component  */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-size: 5.5rem;
  font-weight: normal;
  font-family: "Dancing Script", cursive;
  margin-bottom: 50px;
}

.main-color {
  color: var(--main-color);
}

.main-heading p {
  color: #777;
  margin-bottom: 60px;
}

/* End Component  */

/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Vollkorn", serif;
  font-size: 1.5rem;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
}
/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
}

li {
  font-size: 1.5rem;
}
/* End Global Rules  */
/* Start Header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 97px;
  align-items: center;
}

header .container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #a2a2a2;
  z-index: -1;
}

header .container img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .container nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  /* Showing the nav bar when the toggle menu is clicked  */
  header .collapsible--expanded ul.collapsible-content {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }

  /* Changing the height of the links on the nav bar on phone version  */
  header .collapsible--expanded ul.collapsible-content li a {
    padding: 15px;
  }
}
/* Modivingeng the nav links  */
header .container nav ul li a {
  color: white;
  display: block;
  padding: 40px 15px;
  text-decoration: none;
  transition: all 0.3s;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  z-index: 2;
}

/* The menue icon  */
header .container span.toggle-menu {
  display: block;
  display: flex;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

header .container span.toggle-menu:hover {
  opacity: 1;
}

@media (min-width: 767px) {
  header .container span.toggle-menu {
    display: none;
  }
}

header .container .toggle-menu span {
  height: 3px;
  background: white;
  width: 100%;
  margin-bottom: 10px;
}
/* End Header  */
/* Start Landing  */
.landing {
  min-height: 100vh;
  background: #1f2021;
  background-image: url("../images/Loading.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.landing .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.landing .container .text {
  width: 550px;
  max-width: 100%;
}

.landing .container .text {
  position: relative;
}

@media (max-width: 767px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text i {
  font-size: 40px;
  width: 100%;
  text-align: center;
}
.landing .container .text h1 {
  font-size: 5.5rem;
  font-weight: normal;
  font-family: "Dancing Script", cursive;
  margin: 50px 0 10px 0;
  color: var(--main-color);
}
.landing .container .text h3 {
  font-size: 2rem;
  font-weight: normal;
}
.landing .container .text p {
  font-size: 1.5rem;
  margin: 40px 0 0 0;
}
/* End Landing  */
/* Start About  */
.about {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
  position: relative;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .about .container {
    flex-direction: column;
  }
}

/* Styling the about text  */
.about .container .text {
  flex-basis: 55%;
}

.about .container .text p {
  margin-bottom: 30px;
  line-height: 2;
}
.about .container .text h2 {
  color: var(--main-color);
}

/* Styling the contact card  */
.about .container .contact {
  flex-basis: 35%;
  position: relative;
  padding-top: 120px;
}

.about .container .contact .contact-box {
  padding: 20px;
  background-color: var(--secondary-color);
  color: white;

  position: absolute;
}

/* Change the position type on small screens  */
@media (max-width: 992px) {
  .about .container .contact .contact-box {
    position: inherit;
  }
}

/* Change the text aling on small devices */
@media (max-width: 992px) {
  .about .container .contact .contact-box {
    text-align: center;
  }
}

/* Position on medium screens  */
@media (min-width: 992px) {
  .about .container .contact .contact-box {
    top: -50%;
  }
}

/* Position on medium screens  */
@media (min-width: 1200px) {
  .about .container .contact .contact-box {
    top: -42%;
  }
}

.about .container .contact .contact-box h3 {
  color: var(--main-color);

  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.about .container .contact .contact-box h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.about .container .contact .contact-box p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.about .container .contact .contact-box p:nth-of-type(3) {
  margin-bottom: 5px;
}
.about .container .contact a {
  text-decoration: none;
  color: white;
}
.about .container .contact .contact-box a.map-link {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.about .container .contact .contact-box a.reservation-link {
  display: block;
  color: white;

  border: 1px solid var(--main-color);
  width: fit-content;
  padding: 10px 15px;
  margin: 0 auto;
}
.about .container .contact img {
  width: 100%;
}

@media (max-width: 992px) {
  .about .container .contact img {
    display: none;
  }
}
/* End About  */
/* Start Specialities  */
.specialities {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
  background-image: url("../images/specialities.jpg");
  background-size: cover;
  position: relative;
}

.specialities::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.specialities .container {
  position: relative;
}

.specialities .container .main-heading h2 {
  color: white;
}
.specialities .imgs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.specialities .container .box {
  position: relative;
  overflow: hidden;
}
.specialities .container .box img {
  width: 100%;
}
.specialities .imgs-container .box .caption {
  text-align: center;
  color: var(--main-color);
  padding: 20px 0;
  background-color: white;
  transition: 0.3s;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -100%;
}

.specialities .container .box:hover .caption {
  bottom: 0;
}

/* End Specialities  */
/* Start Menu  */
.menu {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
  background-color: var(--secondary-color);
  color: white;
}

.menu .container .main-heading p {
  color: white;
}
.menu .menu-container h3 {
  text-align: center;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  margin: 50px 0;
}

.menu .menu-container .box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu .menu-container .box .dishes {
  flex-basis: 45%;
}
.menu .menu-container .box .dishes h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.menu .menu-container .box .dishes p {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 30px;
}
.menu .menu-container .box .dishes p span.price {
  display: block;
  text-align: right;
  color: var(--main-color);
  font-size: 3.4rem;
}

.menu .menu-container .box .dishes p span.price::before {
  content: "$";
}

.menu .btn {
  display: block;
  margin: 20px auto 0;
  padding: 15px 40px;
  background-color: var(--main-color);
  border: none;
  outline: none;
  cursor: pointer;
}

/* Extra part of the menu  */
.menu .menu-container .toggle {
  height: 0;
  opacity: 0;
  margin: 0;
  transition: 0.3s;
}

.menu .menu-container .toggle--expanded {
  opacity: 1;
  height: 100%;
}

.menu .menu-container h3.toggle--expanded {
  margin: 50px 0;
}

/* End Menu  */
/* Start Booking  */
.booking {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
  background-image: url("../images/booking.jpg");
  background-size: cover;
  position: relative;
}

.booking::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.booking .container {
  position: relative;
}

.booking .main-heading h2 {
  color: white;
}

.booking form .date-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.booking form div {
  /* flex-basis: 33%; */
  margin: 30px;
}

.booking form div label {
  display: block;
  color: white;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.booking form div input,
.booking form div select {
  min-width: 200px;
  max-width: 100%;
  outline: none;
  padding: 10px 20px;
}

.booking form input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  cursor: pointer;
}
/* End Booking  */
/* Start Footer  */
.footer {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
  background-color: var(--secondary-color);
  color: white;
}

.footer .container .info {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .footer .container .info {
    flex-direction: column;
  }
}

.footer .container .info .box {
  flex-basis: 31%;
  margin-bottom: 30px;
}
.footer .container .info .box h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.footer .container .info .box p {
  line-height: 2;
  margin-bottom: 10px;
}

.footer .container .info .box a {
  color: white;
  border: 1px solid var(--main-color);
  text-decoration: none;
  padding: 10px 30px;
  display: block;
  text-align: center;
  width: fit-content;
  margin: 15px 0 40px;
}

.footer .container .info div:last-of-type a {
  display: inline-block;
  padding: 15px;
  margin-right: 10px;
}

.footer .container p:last-child {
  color: var(--main-color);
}
/* End Footer  */
